# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/
venv/

# dotenv
.env
*.env

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Build / Dist
build/
dist/
*.egg-info/
